html 
	font-size 16px

body 
	background ww
	color txt
	font-family 'Lato', sans-serif
	font-weight 400
	-webkit-font-smoothing antialiased
	line-height 1.45
	
body.hidden-scroll
	overflow hidden
	height 100%

p 
	margin-bottom 1.3em

h1, h2
h3, h4 
	margin 1.414em 0 0.5em
	font-weight 700
	line-height 1.2

h1 
	margin-top 0
	font-size 2.074em

h2 
	font-size 1.728em

h3 
	font-size 1.44em

h4 
	font-size 1.2em
	
h5 
	font-size 0.83em

small
.font-small 
	font-size 0.83em
	
a
button
	font-weight 700
	text-decoration none
	transition all 0.3s ease
	
	&:focus
		outline none
	
.std-btn 
	background bsttwo
	border 1px solid bsttwo
	border-radius 3px
	color ww
	display inline-block
	line-height 40px
	padding 0 16px
	vertical-align top
	
	&:hover
		background ww
		color bsttwo

.std-btn.danger
	background erred
	border-color erred
	
	&:hover 
		background ww
		color erred
		
input
textarea
	border 1px solid gcd
	box-sizing border-box
	display inline-block
	line-height 26px
	padding 8px 10px
	vertical-align top
	
	&:focus
		border-color bstclear	
		outline none
		
input.error
textarea.error
	border-color erred
		
.input-group
	margin-bottom 16px
	
	label 
		display block
		font-weight 700
		font-size 0.83em
		line-height 1.72em
	
	input
	textarea
		width 100%