.modal-comp
	bottom 0
	display none
	left 0
	position fixed
	right 0
	top 0
	z-index 100
	
.modal-close-icon
	border 1px solid txt
	border-radius 50%
	cursor pointer
	display inline-block
	line-height 26px!important
	position absolute
	right 10px
	text-align center
	top 10px
	width 26px
	
	&:hover 
		background txt 
		color ww

.s-modal
.modal-card
	background ww
	box-shadow 0 3px 3px rgba(0,0,0,0.3)
	box-sizing border-box
	display none
	left 0
	margin 0 auto
	padding 16px
	position absolute
	right 0
	top 42px
	z-index 110
	
.modal-screen
	background rgba(ww, 0.4)
	bottom 0
	left 0
	opacity 0
	position absolute
	right 0
	top 0
	
.s-modal
	width 790px
	
	.editor
		height 400px
	
.modal-card
	width 300px
	
.modal-title
	display block
	font-weight 700
	font-size 1.44em
	margin 16px 0
	line-height 1.44em
	text-align center