#posts-feed
	max-width 790px
	margin 67px auto
	
.post-feed-item
	border-bottom 1px solid bsttre
	padding 16px 10px
	position relative
	width 100%
	
	div[class*="-column"]
		display inline-block
		vertical-align top
	
	.title-author-column
		width 50%
		
		img 
			border-radius 50%
			float left
			height 42px
			margin-right 10px
			width 42px
			
		.title
			font-size 1em
			margin 0
			line-height 21px
			
			a
				color bstone
				
				&:hover 
					color gcd
			
		.author
			font-size 0.83em
			line-height 21px
		
	.votes-column
	.comments-column
		line-height 42px
		text-align center
		width 15%
		
	.date-column
		line-height 42px
		text-align right
		width 20%
		
.load-more
	padding 26px 0
	text-align center