// Variable files

// Colors
ww 	= #fff
txt = #303030
bclear 	= #225DF2
bstone 	= #2049B0
bsttwo	= #1D3E75
bsttre	= #232D54
bdark 	= #272638

// Grays
gab = #ababab
gcd = #cdcdcd
gdb = #dbdbdb

// Util colors
erred = #f54047