<template name="loginModal">
	<div id="login-modal" class="modal-comp">
		<div class="modal-screen close-modal"></div>
		<i class="modal-close-icon close-modal fa fa-close"></i>
		
		<form class="modal-card">
			<span class="modal-title">Welcome Back!</span>
			<div class="input-group">
				<label for="email">Email</label>
				<input name="email" type="email">	
			</div>
			<div class="input-group">
				<label for="password">Password</label>
				<input name="password" type="password">	
			</div>
			<button class="std-btn" type="submit">Log In</button>
		</form>

	</div>
</template>