<template name="signupModal">
	<div id="signup-modal" class="modal-comp">
		<div class="modal-screen close-modal"></div>
		<i class="modal-close-icon close-modal fa fa-close"></i>
		
		<form class="modal-card">
			<span class="modal-title">Hello! Join Us</span>
			<div class="input-group">
				<label for="username">New Username</label>
				<input name="username" type="text">	
			</div>
			<div class="input-group">
				<label for="name">Name</label>
				<input name="name" type="text">	
			</div>
			<div class="input-group">
				<label for="email">Email</label>
				<input name="email" type="email">	
			</div>
			<div class="input-group">
				<label for="password">Password</label>
				<input name="password" type="password">	
			</div>
			<div class="input-group">
				<label for="confirm-password">Confirm Password</label>
				<input name="confirm-password" type="password">	
			</div>
			<button class="std-btn" type="submit">Sign Up</button>
		</form>

	</div>
</template>